body,html {
    margin: 0px;
    height: 100%;
    font-family: '8BIT WONDER', sans-serif;
}

#header {
    border-bottom: 1px solid;
    min-height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0px;
}

#middle{
    display: flex;
    padding-top: 15vh;
    height: 100%;
    justify-content: center;
}

#center {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* don't forget to properly center sketchpad after setting button sizes */
}

#draw-box {
    border: 1px solid;
    height: 70vh;
    width: 70vh;
}

#user-settings {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin-right: 4vh;
    padding-top: 3vh;
 
}

#sizeRange {
    display: flex;
    flex-direction: column;
    gap: 1vh
}