body,html {
    margin: 0px;
    height: 100%;
    font-family: '8BIT WONDER', sans-serif;
}

#header {
    border-bottom: 3px solid #F6F7D7;
    min-height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF9A00;
}

h1 {
    margin: 0px;
    color: #FF165D;
    -webkit-text-stroke: 2px #F6F7D7; 
}

#middle{
    display: flex;
    padding-top: 15vh;
    height: 100%;
    justify-content: center;
    background-color: #3EC1D3;
    flex-wrap: wrap;
}

#center {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border: 1px solid #ffffff;;
    border-radius: 6px;
    background-color: #FF9A00;
    /* don't forget to properly center sketchpad after setting button sizes */
}

#forPadding {
    padding-right: 15vh;
}

#draw-box {
    border: 3px solid #FF165D;
    height: 70vh;
    width: 70vh;
    background-color: #F6F7D7;
    border-radius: 3px;
}

#user-settings {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin-right: 4vh;
    padding-top: 3vh;
    /* border: 1px solid */
 
}

label {
    color: #FF165D;
}
/* #############slider########### */
input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
  }
  
input[type=range]::-webkit-slider-thumb {
-webkit-appearance: none;
}
  
input[type=range]:focus {
outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}
  
input[type=range]::-ms-track {
width: 100%;
cursor: pointer;

/* Hides the slider so custom styles can be added */
background: transparent; 
border-color: transparent;
color: transparent;
}

input[type=range]::-webkit-slider-thumb {
-webkit-appearance: none;
border: 1px solid #ffffff;
height: 20px;
width: 16px;
border-radius: 3px;
background: #ffffff;
cursor: pointer;
margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
border: 1px solid #ffffff;
height: 25px;
width: 12px;
border-radius: 3px;
background: #FF165D;
cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
border: 1px solid #ffffff;
height: 36px;
width: 16px;
border-radius: 3px;
background: #ffffff;
cursor: pointer;
}

/* #################range############# */
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #F6F7D7, 0px 0px 1px #F6F7D7;
    background: #FF9A00;
    border-radius: 1.3px;
    border: 0.2px solid #F6F7D7;
  }
  
input[type=range]:focus::-webkit-slider-runnable-track {
background: #FF9A00;;
}

input[type=range]::-moz-range-track {
width: 100%;
height: 8.4px;
cursor: pointer;
box-shadow: 1px 1px 1px #F6F7D7, 0px 0px 1px #F6F7D7;
background: #FF9A00;
border-radius: 1.3px;
border: 0.2px solid #F6F7D7;
}

input[type=range]::-ms-track {
width: 100%;
height: 8.4px;
cursor: pointer;
background: transparent;
border-color: transparent;
border-width: 16px 0;
color: transparent;
}
input[type=range]::-ms-fill-lower {
background: #FF9A00;;
border: 0.2px solid #F6F7D7;
border-radius: 2.6px;
box-shadow: 1px 1px 1px #F6F7D7, 0px 0px 1px #F6F7D7;
}
input[type=range]:focus::-ms-fill-lower {
background: #FF9A00;;
}
input[type=range]::-ms-fill-upper {
background: #FF9A00;;
border: 0.2px solid #F6F7D7;
border-radius: 2.6px;
box-shadow: 1px 1px 1px #F6F7D7, 0px 0px 1px #F6F7D7;
}
input[type=range]:focus::-ms-fill-upper {
background: #FF9A00;;
}

#sizeRange {
    display: flex;
    flex-direction: column;
    gap: 1vh
}